<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Тестовое задание{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('images/favicon.jpg') }}" type="image/jpg">
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}

    </head>
    <body>
        {% block body %}
        
        {% endblock %}
    </body>
</html>
